# DATA STRUCTURES
#### Default function of each datatype

# 1) List and its default functions

    Method                       Description

    append()	            Adds an element at the end of the list
    insert()	            Adds an element at the specified position

    del listname()          Deletes the entire list
    pop()	                Removes the element at the specified position
    remove()	            Removes the item with the specified value
    clear()	                Removes all the elements from the list

    copy()	                Returns a copy of the list

    count()	                Returns the number of elements with the specified value

    sort()	                Sorts the list 

    index()	                Returns the index of the first element with the specified value

    extend()	            Add the elements of a list (or any iterable), to the end of the current list

    reverse()	            Reverses the order of the list

In [1]:
myList= [0,1,1,2,3,5,"eight","thirteen",[21,34,55,89]]
for i in range (len(myList)):          #using the len function to find the length of the list n then printing its contents
    print (myList[i])

0
1
1
2
3
5
eight
thirteen
[21, 34, 55, 89]

In [3]:
myList[3]  #printing element with index 3 (4th element from the front)

2

In [4]:
myList[-3]  #printing element with index -3 (3rd element from the end, counting backwards)

'eight'

In [5]:
myList[2:4]       #Specifying a range will return a new list with the specified items.

[1, 2]

In [7]:
myList[9::-1]          #printing the entire list backward

[[21, 34, 55, 89], 'thirteen', 'eight', 5, 3, 2, 1, 1, 0]

### Input functions

In [9]:
myList.append("this is the fibonacci series")           #using append() function  ==> Inserts an item to the end of the current list
myList

[0,
 1,
 1,
 2,
 3,
 5,
 'eight',
 'thirteen',
 [21, 34, 55, 89],
 ['this is the fibonacci series'],
 'this is the fibonacci series']

In [18]:
myList.insert(2,"lets modify the index 2 content")    #using insert() ==> Inserts an item to the specified position in the current list
myList

[0,
 1,
 'lets modify the index 2 content',
 1,
 2,
 3,
 5,
 'eight',
 'thirteen',
 [21, 34, 55, 89],
 ['this is the fibonacci series'],
 'this is the fibonacci series']

### Delete functions

In [19]:
myList.remove('thirteen')      #removes a specified item
myList

[0,
 1,
 'lets modify the index 2 content',
 1,
 2,
 3,
 5,
 'eight',
 [21, 34, 55, 89],
 ['this is the fibonacci series'],
 'this is the fibonacci series']

In [20]:
myList.pop()    #pops out the last element when index is not mentioned   
myList.pop(5)   #pops out the element at the specified index
myList

[0,
 1,
 'lets modify the index 2 content',
 1,
 2,
 5,
 'eight',
 [21, 34, 55, 89],
 ['this is the fibonacci series']]

In [21]:
del myList[-1]   #deletes the element of the specified index
myList

[0, 1, 'lets modify the index 2 content', 1, 2, 5, 'eight', [21, 34, 55, 89]]

In [22]:
# del myList     and    myList.clear()      will delete the entire list

### Copy

In [23]:
mylist_new = myList.copy()            #copying an existing list into a new variable using copy() function
mylist_new

[0, 1, 'lets modify the index 2 content', 1, 2, 5, 'eight', [21, 34, 55, 89]]

In [24]:
mylist_new_too = list(myList)        #copying an existing list into a new variable using list() function
mylist_new_too

[0, 1, 'lets modify the index 2 content', 1, 2, 5, 'eight', [21, 34, 55, 89]]

### Count

In [28]:
myList.count(1)              # count() method returns the number of elements with the specified value.

2

### Sort

In [30]:
cars = ['Ferrari', 'Bugatti', 'Aston Martin', "BMW"]    
cars.sort()  #sorts the elements (in ascending order by default)
cars

['Aston Martin', 'BMW', 'Bugatti', 'Ferrari']

In [32]:
cars.sort(reverse=True)    #sorts the elements (in descending order)
cars

['Ferrari', 'Bugatti', 'BMW', 'Aston Martin']

### Index

In [38]:
fruits = ['apple', 'banana', 'cherry','grapes','pineapple','cherry']    #Returns the index of the first occurance of the specified value     

x = fruits.index("cherry")
x

2

In [34]:
primes = [2,3,5,7,11,13,15,17,23]       #Returns the index of the first occurance of the specified value   

y=primes.index(11)
y

4

### Extend

In [39]:
#Add the elements of a list (or any iterable), to the end of the current list

myList.extend(mylist_new)

myList

[0,
 1,
 'lets modify the index 2 content',
 1,
 2,
 5,
 'eight',
 [21, 34, 55, 89],
 0,
 1,
 'lets modify the index 2 content',
 1,
 2,
 5,
 'eight',
 [21, 34, 55, 89]]

### Reverse

In [40]:
#Reverses the order of the list

myList.reverse()
myList

[[21, 34, 55, 89],
 'eight',
 5,
 2,
 1,
 'lets modify the index 2 content',
 1,
 0,
 [21, 34, 55, 89],
 'eight',
 5,
 2,
 1,
 'lets modify the index 2 content',
 1,
 0]

# 2) Dictionary and its default functions

    Method	        Description
    
    get()	        Returns the value of the specified key
    items()	        Returns a list containing a tuple for each key value pair
    keys()	        Returns a list containing the dictionary's keys
    values()	    Returns a list of all the values in the dictionary
    
    pop()	        Removes the element with the specified key
    popitem()	    Removes the last inserted key-value pair
    clear()	        Removes all the elements from the dictionary
    
    copy()	        Returns a copy of the dictionary
    
    update()	    Updates the dictionary with the specified key-value pairs

In [2]:
ditBook={'name':'Eragon','author':'Christopher Paolini','year':2002,'series':'The Inheritance Cycle'}

### Functions for Displaying/Retriving data from Dictionary

In [3]:
ditBook                      #Displays the entire dictionary

{'name': 'Eragon',
 'author': 'Christopher Paolini',
 'year': 2002,
 'series': 'The Inheritance Cycle'}

In [9]:
ditBook['name']             #retriving value from dictionary 
                            #(not a recommended method as the module will crash if the key isn't found)

'Eragon'

In [10]:
ditBook.get('author')        #retriving value from dictionary 
                             #(recommended method as the module will NOT crash even if the key 
                             #isn't found, it will simply return no value)

'Christopher Paolini'

#### items() => Returns a list containing a tuple for each key value pair

In [8]:
ditBook.items()

dict_items([('name', 'Eragon'), ('author', 'Christopher Paolini'), ('year', 2002), ('series', 'The Inheritance Cycle')])

#### keys()    => Returns a list of all the keys of the Dictionary   AND   
#### values() => Returns a list of all the values in the Dictionary

In [11]:
ditBook.keys()

dict_keys(['name', 'author', 'year', 'series'])

In [12]:
ditBook.values()

dict_values(['Eragon', 'Christopher Paolini', 2002, 'The Inheritance Cycle'])

### Functions for Removing data from Dictionary

In [14]:
ditBook.pop('author')

'Christopher Paolini'

In [15]:
ditBook

{'name': 'Eragon', 'year': 2002, 'series': 'The Inheritance Cycle'}

In [16]:
ditBook.popitem()

('series', 'The Inheritance Cycle')

In [17]:
ditBook

{'name': 'Eragon', 'year': 2002}

### Functions for Adding New data into the Dictionary

In [ ]:
ditBook["next book in series"]='Eldest'
ditBook

### Functions for Creating a copy of the Dictionary

In [24]:
myBook = ditBook.copy()
myBook

{'name': 'Eragon', 'year': 2002, 'next book in series': 'Eldest'}

In [ ]:
myBook_copy = dict(myBook)

### Functions for emptying/deleting the Dictionary

In [21]:
myBook.clear()

In [22]:
myBook #returns an empty dictionary

{}

In [23]:
#However if  we had used  : del myBook() and then tried to display it,
#it will cause an error because "myBook" no longer exists.

### Functions for updating contents of the Dictionary

In [26]:
ditBook.update({'binding':'Paperback'})

In [27]:
ditBook

{'name': 'Eragon',
 'year': 2002,
 'next book in series': 'Eldest',
 'binding': 'Paperback'}

# 3) Sets and its default functions
    Method	                 Description
        
    
    issubset()	         Returns whether another set contains this set or not
 
    union()	             Return a set containing the union of sets
    
    difference()	     Returns a set containing the difference between two or more sets 
   
    intersection()	     Returns a set, that is the intersection of two other sets
    
    isdisjoint()	     Returns whether two sets have a intersection or not

In [49]:
set1 = {'Eragon','Eldest','Brisingr','Inheritance','Brisingr',1,1,2,3,4}
set2 = {4,1,3,2}
set3 = {'alpha','beta','delta','theta','omega'}

In [42]:
set1

{1, 2, 3, 4, 'Brisingr', 'Eldest', 'Eragon', 'Inheritance'}

In [44]:
set2

{1, 2, 3, 4}

In [45]:
set2.issubset(set1)

True

In [47]:
len(set1)

8

In [52]:
set3.union(set2)

{1, 2, 3, 4, 'alpha', 'beta', 'delta', 'omega', 'theta'}

In [53]:
set1.difference(set2)

{'Brisingr', 'Eldest', 'Eragon', 'Inheritance'}

In [54]:
set1.intersection(set2)

{1, 2, 3, 4}

In [56]:
set1.isdisjoint(set3)

True

# 4) Tuples and its default functions
    
    count()	       Returns the number of times a specified value occurs in a tuple
    index()	       Searches the tuple for a specified value and returns the position of where it was found

In [64]:
myTuple = ("atrimay",".","S","@","gmail",".","com")

In [65]:
myTuple

('atrimay', '.', 'S', '@', 'gmail', '.', 'com')

In [67]:
myTuple.count(".")

2

In [68]:
myTuple.index("@")

3

# 4) Strings and its default functions

In [70]:
a = "hello Sai"

In [71]:
a

'hello Sai'

In [73]:
b = " ,this is Sam"

In [74]:
a + b                               #concatinates string a and b

'hello Sai ,this is Sam'

In [76]:
a.capitalize()                     #Converts the first character to upper case

'Hello sai'

In [79]:
a.replace('s','S')                 #Returns a string where a specified value is replaced with a specified value

'hello Sai'

In [80]:
c = "LETS TASTE THE POWER OF STRINGS"

In [90]:
d = c = c.lower()      #Converts a string into lower case

In [91]:
c

'lets taste the power of strings'

In [92]:
d=d.upper()          #Converts a string into upper case
d

'LETS TASTE THE POWER OF STRINGS'

In [93]:
d.replace("TASTE","TEST")          #replaces a string/word/character with another string/word/character

'LETS TEST THE POWER OF STRINGS'

In [94]:
c.split()                           #Splits the string at the specified separator, and returns a list

['lets', 'taste', 'the', 'power', 'of', 'strings']

In [95]:
"lets" in c      #checks if a test string is present in a string

True